<div class="app-header">
  <h1>DailyDrinks</h1>
  <button class="button button--blue"
    (click)="displayOrderDialog()">add</button>
</div>
<hr>

<div class="order-list">
  <div class="order-item order-item-header">
    <span class="order-item__name">name</span>
    <span class="order-item__price">price</span>
    <span class="order-item__notes">notes</span>
    <div class="order-item__action"></div>
  </div>
  <div class="order-item" *ngFor="let item of orders">
    <span class="order-item__name">{{ item.name }}</span>
    <span class="order-item__price">{{ item.price }}</span>
    <span class="order-item__notes" [innerText]="item.notes || ''"></span>
    <div class="order-item__action">
      <button class="button button--green"
        (click)="displayOrderDialog(item)">edit</button>
      <button class="button button--red"
        (click)="removeOrder(item)">delete</button>
    </div>
  </div>
  <div class="order-item order-item-summary">
    <span class="order-item__name">total</span>
    <span class="order-item__price">{{ totalPrice }}</span>
    <span class="order-item__notes"></span>
    <div class="order-item__action"></div>
  </div>
</div>
