@import '../scss/variables';

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-list {
  display: flex;
  flex-direction: column;
}

.order-item {
  display: flex;
  align-items: flex-start;
  padding: .5em 1em;
  line-height: 1.5em;
  box-sizing: border-box;

  &:nth-child(odd) {
    background-color: #eee;
  }

  &:hover {
    background-color: lighten($colorBlue, 30%);
  }

  &.order-item-header {
    font-weight: bold;
    color: #fff;
    background-color: $colorYellow;
  }
}

.order-item__name {
  flex: none;
  width: 25%;
}

.order-item__price {
  flex: none;
  width: 100px;
  text-align: right;
}

.order-item__notes {
  flex-grow: 1;
  text-align: center;
}

.order-item__action {
  flex: none;
  align-self: center;
  display: flex;
  justify-content: space-around;
}
